.shop-cart {
  transition: all .3s ease;

  display: grid;
  // grid-template-rows: [tog-s] 40px [tog-e] 15px [con-s] 1fr [con-e];
  grid-template-rows: [con-s] 1fr [con-e];
  grid-template-columns: [s] 1fr [e];

  z-index: 100;

  &__content {
    grid-row: con-s/con-e;
    grid-column: s/e;
  }
}

.shop-cart {
  &__content {
    height: 675px;
    width: 520px;
    background-color: #333;
    box-shadow: -3px 20px 20px 0 rgba(0, 0, 0, 0.2);
  }
}
.cart-button {
  height: 40px;
  width: 76px;
  font-size: 28px;
  color: white;
  background-color: #333;
  font-size: 18px;
  border-radius: 25px 0 0 25px;
  display: grid;
  justify-items: center;
  align-items: center;
}
.cart-content {
  display: grid;
  grid-template-rows: 25px [title-s] 40px [title-e products-s] 1fr [products-e footer-s] 113px [footer-e];
  grid-template-columns: 30px [s] 1fr [e] 30px;
  
  & > * {
    grid-column: s/e;
  }
  
  &__title {
    grid-row: title-s/title-e;
    font-size: 30px;
    font-weight: 600;
    font-family: "Titilium Web";
    color: #e6e6e6;
  }
  &__products {
    grid-row: products-s/products-e;
    padding-top: 50px;
    display: grid;
    row-gap: 45px;
    overflow-y: scroll;
  }
  &__footer {
    grid-row: footer-s/footer-e;
    grid-column: 1/-1;
    display: grid;
  }
}

.cart-footer {
  height: 113px;
  background-color: #1a1a1a;

  display: grid;
  grid-template-rows: [s] 1fr [e];
  grid-template-columns: 50px [checkout-s] 1fr [checkout-e sub-s] 1fr [sub-e] 27px [price-s] 46px [price-e] 31px;
  align-items: center;

  & > * {
    grid-row: s/e;
  }

  &__checkout {
    grid-column: checkout-s/checkout-e;
    display: grid;
    justify-items: center;
    align-items: center;
    height: 38px;
    width: 183px;
    border-radius: 20px;
    background-color: #00cb79;
    color: white;
    font-weight: 600;
    font-size: 1.6rem;
    
    transition: all 0.3x ease;
    
    &:hover {
      transform: scale(0.97);
    }
    &:active {
      transform: scale(0.95);
    }
    &:focus {
      outline: none;
    }
  }
  &__subtotal {
    grid-column: sub-s/sub-e;
    font-size: 18px;
    justify-self: end;
  }
  &__price {
    grid-column: price-s/price-e;
    justify-self: start;
    font-size: 18px;
    color: white;
    font-weight: 600;
  }
}

.cart-hidden {
  transform: translateX(520px);
}